


header{
    background-color: #2e284f;
    height: 450px;
    /* background: url("img/bg-image.jpg") no-repeat fixed center; */
}
header h2,p{
    text-align: center;
    color: #ffffff;

}
header h2::after {
    content:"________";
    position: absolute;
    margin-top: 20px;
    margin-left:-300px;
    color: #10b9b3 !important;
    font-weight: bold;
}
.navbar-brand{
    color:#10b9b3 !important;
}
.nav-dark .nav-link{
    font-size:12px;
    font-weight: 600;
    color:#ffffff;
    padding: .5rem 1rem;
}
.nav-dark .nav-link:hover{
    color:#10b9b3 !important;
}
.button{
    text-align: center;
    font-weight: 600;
    color:#10b9b3 !important;
}
.somehei{
    height: 50px;
}
.linetwo::after{
    content:"________";
    position: absolute;
    margin-top: 20px;
    margin-left:-335px;
    color: #000000 !important;
    font-weight: 600;

}

.aligncen{
    text-align:center;
}
#team{
    background-image: url('../img/bg-team.jpg') ;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 650px;
    padding: 0 30px 30px;
}

.linethree {
  position: relative;
}

.linethree::after{
    content: "";
    position: absolute;
    width: 100px;
    left: 50%;
    bottom: -10px;
    margin-left: -50px;
    border-bottom: 1px solid white;
    height: 1px;
}

.bgnew{
    background-color: #252248;
}
.button5{
    text-align: center;
}

.card-img-top {
  border-radius: 50%;
}

#ourwork .col-sm-12 img {
  margin: auto;
  display: block;
}

#testimonial {

        background-image: url('../img/bg-testimonial.jpg') ;
        background-size: cover;
        background-repeat: no-repeat;
        height: 550px;
        /* background: #252248; */
}

footer{
    background-image: url('../img/bg-footer.jpg');
    background-size: cover;
    background-repeat:no-repeat;
    height:400px;
}

.plane-icon{
    width: 50px;
    height:30px;
    background-color: #a099b3;
    margin-left:10px;
    padding: 9px;
    text-align: center;
}
.iconcs{
    color:#ffffff;
    border:1px solid #ffffff;
    border-radius: 50%;
    padding: 40%;
}
.footerlogo{
    font-size:34px;
    vertical-align: center;
    background: -webkit-linear-gradient(#01dfd0, #28486b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

@media screen and (max-width:480px){
    header{
        background-color: #2e284f;
        height: 650px;
        /* background: url("img/bg-image.jpg") no-repeat fixed center; */
    }

    header h2::after {
        content:"________";
        position: absolute;
        margin-top: 20px;
        margin-left:-110px;
        color: #10b9b3 !important;
        font-weight: bold;
    }

    .starimage{
        text-align: center;
    }

    .linetwo::after{
        content:"________";
        position: absolute;
        margin-top: 20px;
        margin-left:-145px;
        color: #000000 !important;
        font-weight: 600;

    }
    .small-side{
        margin-right:20px;
    }


}
