


header{
    background-color: #2e284f;
    height: 450px;
    /* background: url("img/bg-image.jpg") no-repeat fixed center; */
}
header h2,p{
    text-align: center;
    color: #ffffff;
    
}
header h2::after {
    content:"________";
    position: absolute;
    margin-top: 20px;
    margin-left:-300px;
    color: #10b9b3 !important;
    font-weight: bold;
}
.navbar-brand{
    color:#10b9b3 !important;
}
.nav-link{
    font-size:12px;
    font-weight: 600;
    color:#ffffff;
}
.nav-link:hover{
    color:#10b9b3 !important;
}
.button{
    text-align: center;
    font-weight: 600;
    color:#10b9b3 !important;
}
.somehei{
    height: 50px;
}
.linetwo::after{
    content:"________";
    position: absolute;
    margin-top: 20px;
    margin-left:-335px;
    color: #000000 !important;
    font-weight: 600;
    
}

.aligncen{
    text-align:center;
}
#team{
    background-image: url('../img/bg-team.jpg') ;
    background-size: cover;
    background-repeat: no-repeat;
    height: 650px;
    /* background: #10b9b3; */
}

.linethree::after{
    content:"____________";
    position: absolute;
    margin-top: 20px;
    margin-left:-285px;
    color: #ffffff !important;
    font-weight: 600;
    
}

.bgnew{
    background-color: #252248;
}
.button5{
    text-align: center;
}

#testimonial {
    
        background-image: url('../img/bg-testimonial.jpg') ;
        background-size: cover;
        background-repeat: no-repeat;
        height: 550px;
        /* background: #252248; */
}

footer{
    background-image: url('../img/bg-footer.jpg');
    background-size: cover;
    background-repeat:no-repeat;
    height:400px;
}

.plane-icon{
    width: 50px;
    height:30px;
    background-color: #a099b3;
    margin-left:10px;
    padding: 9px;
    text-align: center;
}
.iconcs{
    color:#ffffff;
    border:1px solid #ffffff;
    border-radius: 50%;
    padding: 40%;
}
.footerlogo{
    font-size:34px;
    vertical-align: center;
    background: -webkit-linear-gradient(#01dfd0, #28486b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}